{% extends "base.html" %}

{% block content %}
<form class="feedback" action="" method="POST" >
    <h3>
        Edit your article
    </h3>
    <div class="form-submit">
        <label for="title">Title</label>
        <input type="text"
        class="input-text"
        name="title"
        id="title"
        value="{{ article.title }}">
    </div>
    <div class="form-submit">
        <label for="description">description</label>
        <input type="text"
        class="input-text"
        name="description"
        id="description"
        value="{{ article.description }}">
    </div>
    <div class="form-submit">
        <label for="text">write your article</label>
        <textarea name="text" id="text" cols="30" rows="25" class="feedback">{{ article.text }}</textarea>
    </div>
    <button class="button" type="submit">edit</button>
</form>

<a href="/article/{{ article.id }}" class="button">back</a>

{% endblock %}