{% extends "base.html" %} 

{% block title %}Other discussions{% endblock %}

{% block content %}

<div class="page-content">
  <div class="grid-row">
    <div class="composer">
      <div class="text">
        <h1 class="center">title</h1>

        <div
          class="latest-article"
          style="text-align: justify; font-size: 20px"
        >
          <div class="post-info">
            <span>Date</span><span><i class="fa fa-edit"></i>author</span>
          </div>

          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat
            officiis deleniti vero unde? Est magni debitis ducimus fugiat quo
            suscipit explicabo quam reiciendis voluptas sint, et qui hic
            accusantium itaque!
          </p>
          
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Consectetur est saepe praesentium error doloribus nisi eveniet
            explicabo dicta assumenda? Eligendi libero quasi saepe provident
            maiores omnis totam minima qui nemo!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}